<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="categorias">
        <ion-icon name="book"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="sugeridos">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Sugeridos</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
